.hero-section {
  padding: 270px 0;
  background-image: url('/assets/images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__content {
    margin-bottom: 170px;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 84px;
    color: var(--color-primary-light);
    padding-right: 110px;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 24px;
    color: var(--color-primary-light);
  }
}
