.travel-detail {
  display: flex;
  &__img {
    width: 65%;
    height: 650px;
    object-fit: cover;
    border-radius: 16px;
  }

  &__container {
    width: 35%;
    position: relative;
    background-color: var(--color-rare-light);
    padding: 40px 24px;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 28px;
    margin-bottom: 8px;
  }

  &__discount {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 120px;
    height: 40px;
    color: var(--color-primary-light);
    background-color: green;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
  }

  &__rating {
    display: flex;
    gap: 4px;
    margin: 6px 0 10px;
  }

  &__star {
    fill: #ccc;
    &--filled {
      fill: #ffc107;
    }
  }

  &__description {
    margin-bottom: 24px;
  }

  &__text-price {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__price {
    font-size: 40px;
    color: #ccc;

    &--discount {
      font-size: 40px;
      color: red;
      text-decoration: line-through;
    }
  }

  &__slash {
    font-size: 40px;
  }

  &__discount-price {
    color: green;
    font-size: 40px;
  }

  &__avaible {
    color: green;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 24px;

    &--not {
      color: red;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__book-container {
    display: flex;
    gap: 20px;
  }

  &__book-button {
    color: var(--color-primary-light);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
    background-color: var(--color-brand-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;

    &--notify {
      color: #ccc;
    }

    &:hover {
      color: var(--color-primary-light);
      background-color: var(--color-brand-dark);
      transform: translateY(-2px);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__amount-passeger {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__text-passeger {
    width: 54px;
    padding: 10px 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--color-brand-dark);
    border: 1px solid var(--color-brand-dark);
    border-radius: 8px;
  }

  &__increment-button,
  &__decrement-button {
    font-size: 30px;
    color: var(--color-brand-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  // &__details-button {
  //   color: var(--color-primary-light);
  //   text-transform: uppercase;
  //   font-size: 20px;
  //   font-weight: 500;
  //   padding: 10px 20px;
  //   border-radius: 12px;
  //   border: none;
  //   background-color: var(--color-brand-light);
  //   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  //   position: absolute;
  //   top: 25px;
  //   right: 25px;
  //   cursor: pointer;
  //   transition: all 0.2s ease;

  //   &:hover {
  //     color: var(--color-primary-light);
  //     background-color: var(--color-brand-dark);
  //     transform: translateY(-2px);
  //     box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  //   }

  //   &:active {
  //     transform: translateY(0);
  //   }
  // }
}
