.auth-menu {
  display: flex;
  align-items: center;
  gap: 36px;

  &__login {
    color: var(--color-primary-light);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__sing {
    color: var(--color-primary-light);
    font-size: 20px;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 12px;
    height: 64px;
    background-color: var(--color-brand-light);
    border: 2px solid transparent;
    transition: all 0.2s ease;

    &:hover {
      color: var(--color-brand-light);
      background-color: transparent;
      border-color: var(--color-brand-light);
    }
  }
}
